h1.behind {
    color: white;
    text-align: center;
    font-size: x-large;
    background-color: red;
}

h1.onpace {
    color: black;
    text-align: center;
    font-size: x-large;
    background-color:yellow;

}

h1.ahead {
    color: white;
    text-align: center;
    font-size: x-large;
    background-color:green;
}

p {
    font-family: 'Salesforce Sans', Arial, sans-serif;
    color: rgb(62, 62, 60);
}
.app {
    background-color: #fafaf9;
    height: 100vh;
    overflow: scroll;
}



